.clearfix:after {
  content: "."; display: block;height: 0;clear: both;font-size: 1px;line-height: 1px;visibility: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}
html { -webkit-text-size-adjust: none; }
body {
  text-align: center;
  font: normal 13px/18px Arial, Helvetica, sans-serif;
  
}
pre {
white-space: normal;
}
a img { border: none; }
.clearer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */   
}
p {
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
  padding: 20px 0 20px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Times New Roman", serif;
  
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}



#wrap {
  max-width: 1000px;
  padding: 125px 0 60px;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

#leftside {
  width: 41%;
  float: left;
  padding-top: 35px;
}

/* header, langmenu, mainmenu */

  
  /* header */
  

    #header {
      text-align: right;
      font-size: 60px;
      line-height: 70px;
      font-family: "Times New Roman", serif;
      padding-right:5px;
    }
    
    
    #langmenu {
      margin: 0;
      text-align: right;
      padding: 0 5px 15px;
      list-style-type: none;
    }
    
    #langmenu li {
      display: inline;
      
    }
    
    #langmenu li a, #mainmenu li a {
      text-decoration: none;
      font-size: 20px;
      line-height: 25px;
      font-family: "Times New Roman", serif;
      white-space: nowrap;
    }
    
    #langmenu li a:hover, #mainmenu li a:hover {
      text-decoration: underline;
    }
  

    #mainmenu {
      margin: 0;
      padding: 70px 0 40px 0;
      list-style-type: none;
      overflow: hidden;
    }
    
    
    #mainmenu li {
      display: block;
      padding: 5px 0 0 0;
      text-align: right;
    }
    
    #mainmenu ul.submenu {
  padding-right:15px;
  margin:5px 0;
  list-style-type: none
    }
    #mainmenu ul.submenu a {
  font-size:16px;
  line-height:20px;
	}
  
/* container */

  #container {
    float: left;
    width: 41.4%;
    margin: 0 -3px 0 30px;
  }
  
/* content */

  #content {
    border: 5px solid white;
    padding: 25px;
    min-height: 450px;
  }
  
  * html #content {
    height: 450px;
  }
  
  
  /* blog */
  
    .blog {
      padding-bottom: 10px;
    }
    
    .blog h1 {
      padding-bottom: 4px;
    }
    
    .blog-info {
      padding: 10px 28px;
    }
    
    .comment {
      padding-bottom: 20px;
      line-height: 1.3em;
    }
    
    .comments h1 {
      padding-top: 10px;
      font-size: 20px;
    }
    
    .comment-number {
      float: left;
      font-size: 30px;
      line-height: 30px;
      font-family: 'Times New Roman', serif;
      width: 50px;
    }
    
    .comment-content {
      margin-left: 65px;
    }
    
    .comment-form form {
      margin: 0;
      padding: 0;
    }
    
    .comment-form table {
      margin: 0;
      padding: 0;
      border: none;
      border-collapse: collapse;
      width: 100%;
    }
    
    .comment-form table td {
      vertical-align: top;
      padding: 0 0 5px 0;
      border: none;
    }
    
    .textbox {
      width: 100%;
      font: normal 13px/18px Arial, Helvetica, sans-serif;
      padding: 3px 3px;
    }
    
    .submit {
      border: none;
      font: normal 13px/18px Arial, Helvetica, sans-serif;
    }
    
  /* gallery */
  
    .gallery {
      padding: 30px 20px 0;
    }
    
    .gallery a {
      text-decoration: none;
      margin: 0px 0px;
    }
    
    .gallery img {
      border: none;
      cursor: pointer;
      padding: 3px;
    }
    
    
  
/* footer */
  
  #footer {
    position: relative;
    padding: 10px 60px 0 25px;
    font-size: 11px;
    line-height: 16px;
  }
  
/* edicy */

  #edicy {


    top: 10px;
    right: 20px;
  }
  
  #edicy a {
    text-decoration: none;
  }
  
  #edicy a:hover {
    text-decoration: underline;
  }


/* forms */
   .form_area {
      margin: 20px 0;
}
.form_field {
  margin: 0 0 5px;
}
.form_field label, .fci-form-field-label {
  font-weight: bold;
  display: block;
}
.form_error {
  color: red;
  font-weight: bold;
  font-size: 12px;
  border: 1px dotted red;
  padding: 5px;
}
.form_field_error {
  color: red;
  font-size: 10px;
  line-height: 14px;
}
.form_notice {
  color: green;
  border: 1px dotted green;
  padding: 5px;
}

.form_field_size_large {
width: 98%;
}
.form_field_size_medium {
width: 50%;
}
.form_field_size_small {
width: 25%;
}
.mobile-menu {
    display: none
}
/* media queries */
@media only screen and (max-width: 800px) and (min-width: 480px) {
    #container {
        width: 54%;
        margin: 0 -3px 0 3%
    }
    #wrap #search {
        padding: 0 15px 15px 0;
    }
}

@media only screen and (max-width: 768px) {
    #content {
        padding: 12px
    }
    #mainmenu li a {
        font-size: 17px
    }
    #langmenu li a {
        font-size: 14px
    }
    #header {
        font-size: 30px;
        line-height: 31px
    }
    h1 {
        font-size: 26px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
}
@media only screen and (max-width: 480px) {
    #wrap {
        padding: 25px 0 !important;
        background: none !important;
    }
    #content {
        border: none;
        min-height: 200px
    }
    #container, #leftside {
        float: none;
        margin: 0
    }
    #container {
        width: 100%
    }
    #leftside, #footer {
        width: 94%;
        padding: 25px 3% 0
    }
    #header {
        margin-bottom: 20px;
        padding: 0
    }
    #langmenu {
        padding: 0 0 15px
    }
    #mainmenu {
        display: none
    }
    .mobile-menu {
        font-family: "Times New Roman",serif;
        display: block;
        list-style-type: none;
        margin: 0 0 15px 0;
        padding: 0;
        text-align: center;
    }
    .mobile-menu li {
        display: inline;
        padding: 0 6px
    }
    .mobile-menu a {
        color: #fdfdfd;
        font-weight: normal;
    }
    .mobile-menu .active a {
        color: #E4FF00;
    }
    #mobile-mainmenu a {
        font-size: 17px
    }
    #mobile-submenu a {
        font-size: 14px
    }
    #header, #langmenu {
        text-align: center
    }
    #wrap #search {
        padding: 0;
        text-align: center
    }
    #wrap #search input {
        width: 56%
    }
    #searchcontainer {
        max-width: 100%;
        width: auto !important;
    }
    div#searchcontainer, #searchiframe {
        max-width: 99%;
        width: 99%;
        left: 0 !important;
    }
}